apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: ghost:5.30.1
        imagePullPolicy: Always
        securityContext:
          privileged: false
          readOnlyRootFilesystem: false
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop:
            - ALL
        ports:
        - containerPort: 2368
        env:
        - name: url
          valueFrom:
            configMapKeyRef:
              name: web-cm
              key: domain
        - name: database__client
          value: mysql
        - name: database__connection__host
          value: db-service
        - name: database__connection__user
          value: root
        - name: database__connection__password
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: password
        - name: database__connection__database
          value: db
        volumeMounts:
        - mountPath: /var/lib/ghost/content
          name: web-content
      volumes:
      - name: web-content
        persistentVolumeClaim:
          claimName: web-content